<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>
	<title>NAGOYA MESHI</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pt-4 pb-5 nagoyameshi-container">
				<div th:if="${param.loggedIn}" class="alert alert-info">
					ログインしました。
				</div>

				<div th:if="${param.loggedOut}" class="alert alert-info">
					ログアウトしました。
				</div>
				<div th:if="${successMessage}" class="alert alert-info">
					<span th:text="${successMessage}"></span>
				</div>
			</div>

			<div class="d-flex justify-content-center">
				<form method="get" th:action="@{/restaurants}" class="mb-5 nagoyameshi-search-form">
					<div class="input-group">
						<input type="text" class="form-control" name="keyword" th:value="${keyword}"
							placeholder="店舗名・目的地・カテゴリ">
						<button type="submit" class="btn text-white shadow-sm nagoyameshi-btn">検索</button>
					</div>
				</form>
			</div>



		</main>

		<h2 class="text-center mb-3">新着</h2>
		<div class="row row-cols-lg-5 row-cols-2 g-3 mb-5">
			<div class="col" th:each="newRestaurants : ${newRestaurants}">
				<a th:href="@{/restaurants/__${newRestaurants.getId()}__}" class="link-dark nagoyameshi-card-link">
					<div class="card h-100">
						<img th:if="${newRestaurants.getImageName()}"
							th:src="@{/storage/__${newRestaurants.getImageName()}__}"
							class="card-img-top nagoyameshi-vertical-card-image" alt="店舗画像">
						<img th:unless="${newRestaurants.getImageName()}" th:src="@{/images/noImage.png}"
							class="card-img-top nagoyameshi-vertical-card-image" alt="NO IMAGE">
						<div class="card-body">
							<h3 class="card-title" th:text="${newRestaurants.getName()}"></h3>
							<p class="card-text mb-1">
								<small class="text-muted" th:text="${newRestaurants.getAddress()}"></small>
							</p>
							<p class="card-text">
								<span
									th:text="${newRestaurants.getCategory()}"></span>
							</p>
							<p class="card-text">
								<span
									th:text="${#numbers.formatInteger(newRestaurants.getPrice(), 1, 'COMMA') + '円 / 人'}"></span>
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>


		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>